  # ASSIGNMENT-1
# WEB SCRAPING

In [1]:
# importing the required libraries
from bs4 import BeautifulSoup,SoupStrainer
import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org.

In [26]:
#Send get request to the webpage server to get the source code of the page
url='https://en.wikipedia.org/wiki/Main_Page'
page = requests.get(url)
# page content
soup = BeautifulSoup(page.content)
# Scrap the Header tag
header=[i.text for i in soup.find_all(class_="mw-headline")]
# Create DataFrame
df=pd.DataFrame(header,columns=["Heading of Wiki"])
df

                 Heading of Wiki
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5     From today's featured list
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [27]:
#Send get request to the webpage server to get the source code of the page
url='https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc'
IMBD = requests.get(url)
# download page content
soup=BeautifulSoup(IMBD.content)
# Scrap Movie name, Year , rating
movie_name=[i.text.split('\n')[2] for i in soup.find_all( class_="lister-item-header")]
year=[i.text.split('\n')[3] for i in soup.find_all( class_="lister-item-header")]
rating=[i.text.strip() for i in soup.find_all(class_="inline-block ratings-imdb-rating")]
df=pd.DataFrame({'Name':movie_name,'Rating':rating,'Year':year})
df.head()

                                            Name Rating    Year
0                       The Shawshank Redemption    9.3  (1994)
1                                  The Godfather    9.2  (1972)
2                                The Dark Knight    9.0  (2008)
3  The Lord of the Rings: The Return of the King    9.0  (2003)
4                               Schindler's List    9.0  (1993)

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [28]:
url='https://www.imdb.com/india/top-rated-indian-movies/'
IMBd_Indian_movie=requests.get(url) # send url request
soup2=BeautifulSoup(IMBd_Indian_movie.content) # download page content
movie_title=[i.text.strip().split('\n')[1].strip() for i in soup2.find_all(class_='titleColumn')] # movie
year=[i.text.strip().split('\n')[2] for i in soup2.find_all(class_='titleColumn')] # Rating
rating=[i.text.strip() for i in soup2.find_all(class_="ratingColumn imdbRating")] # Year
df=pd.DataFrame({'Title':movie_title,'Rating':rating,'Year':year})
df

                    Title Rating    Year
0              Anbe Sivam    8.4  (2003)
1                 Golmaal    8.4  (1979)
2                Jai Bhim    8.4  (2021)
3                 Nayakan    8.4  (1987)
4       Pariyerum Perumal    8.4  (2018)
..                    ...    ...     ...
245                    24    7.6  (2016)
246  Velaiilla Pattadhari    7.6  (2014)
247         Kapoor & Sons    7.6  (2016)
248          Colour Photo    7.6  (2020)
249              Rockstar    7.6  (2011)

[250 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [3]:
# Send url request and download page content
presedent_soup=BeautifulSoup(requests.get("https://presidentofindia.nic.in/former-presidents.htm").content,"html.parser")
# Scrap President name
name=[i.text.split('\n')[1] for i in presedent_soup.find_all('div',class_="presidentListing")]
# Scrap terms of office
office_term=[i.text.split('\n')[2] for i in presedent_soup.find_all('div',class_="presidentListing")]
# Create DataFrame
former_President=pd.DataFrame({"Former Presidents":name,"Term of Office":office_term})
former_President

,Former Presidents,Term of Office
0,Shri Ram Nath Kovind (birth - 1945),"Term of Office: 25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee (1935-2020),"Term of Office: 25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil (birth - 1934),"Term of Office: 25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam (1931-2015),"Term of Office: 25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan (1920 - 2005),"Term of Office: 25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma (1918-1999),"Term of Office: 25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman (1910-2009),"Term of Office: 25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh (1916-1994),"Term of Office: 25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy (1913-1996),"Term of Office: 25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed (1905-1977),"Term of Office: 24 August, 1974 to 11 February..."
10,Shri Varahagiri Venkata Giri (1894-1980),"Term of Office: 3 May, 1969 to 20 July, 1969 a..."
11,Dr. Zakir Husain (1897-1969),"Term of Office: 13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan (1888-1975),"Term of Office: 13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad (1884-1963),"Term of Office: 26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

# a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [3]:
#send get request to the webpage server to get the source code of the page
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page5 = requests.get(url)
# see content in page5
soup5 = BeautifulSoup(page5.content)
#scrape team names
team = soup5.find_all("span",class_='u-hide-phablet')
team_name = []
for i in team:
    team_name.append(i.text)
matches = [] #empty list
points = [] #empty list
ratings = [] #empty list
new_list = [] #empty list

for i in soup5.find_all("td",class_='rankings-block__banner--matches'): # first place team number of matches
    matches.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--points'):# first place team points
    points.append(i.text)
for i in soup5.find_all("td",class_='rankings-block__banner--rating u-text-right'):# first place team ratings
    ratings.append(i.text.replace("\n",""))
for i in soup5.find_all("td",class_='table-body__cell u-center-text'):# other teams number of matches and points
    new_list.append(i.text)
for i in range(0,len(new_list)-1,2):
    matches.append(new_list[i]) # other teams matches
    points.append(new_list[i+1]) # other teams points
for i in soup5.find_all("td",class_='table-body__cell u-text-right rating'):# other teams ratings
    ratings.append(i.text)
    
# Make data frame of top 10 ICC teams
icc=pd.DataFrame({})
icc['Team_name']=team_name[:10]
icc['Matches']=matches[:10]
icc['Points']=points[:10]
icc['Ratings']=ratings[:10]
icc

  Matches Points Ratings
0      26  3,074     118
1      25  2,725     109
2      19  2,005     106
3      20  2,043     102
4      23  2,325     101
5      27  2,639      98
6      29  2,658      92
7      35  2,444      70
8      18  1,238      69
9      23  1,214      53

# b) Top 10 ODI Batsmen along with the records of their team and rating.

In [2]:
#send get request to the webpage server to get the source code of the page
batsmen_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi').content,'html.parser')

player=[ i.text.strip() for i in batsmen_teams.find_all('td',class_='table-body__cell name')][:10] # Scrap player

team=[ i.text for i in batsmen_teams.find_all('span',class_='table-body__logo-text')][:10] # Scrap Team 
rating=[i.text for i in batsmen_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10] # Scrap Rating
batsmen=pd.DataFrame({'Player':player,'Team':team,'Ratings':rating})
batsmen

                  Player Team Ratings
0  Rassie van der Dussen   SA     789
1        Quinton de Kock   SA     784
2            Imam-ul-Haq  PAK     779
3            Virat Kohli  IND     744
4           Rohit Sharma  IND     740
5           David Warner  AUS     737
6         Jonny Bairstow  ENG     732
7            Ross Taylor   NZ     722
8            Aaron Finch  AUS     715
9         Josh Hazlewood  AUS     679

# c) Top 10 ODI bowlers along with the records of their team and rating.

In [73]:
#send get request to the webpage server to get the source code of the page and download the page content
batsmen_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling').content,'html.parser')

player=[ i.text.strip() for i in batsmen_teams.find_all('td',class_='table-body__cell rankings-table__name name')][:10] # player

team1=[ i.text for i in batsmen_teams.find_all('span',class_='table-body__logo-text')][:10] # team
rating2=[i.text for i in batsmen_teams.find_all('td',class_='table-body__cell rating')][:10] # rating
bowlers=pd.DataFrame({'Player':player,'Team':team1,'Ratings':rating2}) # DataFrame created
bowlers

             Player Team Ratings
0    Jasprit Bumrah  IND     703
1    Shaheen Afridi  PAK     681
2    Josh Hazlewood  AUS     679
3  Mujeeb Ur Rahman  AFG     676
4      Mehedi Hasan  BAN     672
5        Matt Henry   NZ     670
6     Mohammad Nabi  AFG     657
7      Chris Woakes  ENG     653
8       Rashid Khan  AFG     651
9     Kagiso Rabada   SA     638

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

# a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [23]:
#send get request to the webpage server to get the source code of the page and download the page content
ODI_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi').content,'html.parser')
team=[ i.text for i in ODI_teams.find_all('span',class_='u-hide-phablet')] # team
matches=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-center-text')]
matches1=[matches[i] for i in range(0,len(matches),2)][:10]  # matches
points=[matches[i] for i in range(1,len(matches),2)][:10]  # points
ratings=[ i.text for i in ODI_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10] # ratings
df=pd.DataFrame({'Matches':matches1,'Points':points,'Ratings':ratings})
df

  Matches Points Ratings
0      33  4,046     123
1      35  4,157     119
2      32  3,219     101
3      31  3,019      97
4      30  2,768      92
5      12    930      78
6      30  1,962      65
7      11    495      45
8       8    351      44
9       8      0       0

# b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [24]:
#send get request to the webpage server to get the source code of the page and download the page content
batsmen_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi').content,'html.parser')
player=[ i.text.strip() for i in batsmen_teams.find_all('td',class_='table-body__cell name')][:10] #player

team1=[ i.text for i in batsmen_teams.find_all('span',class_='table-body__logo-text')][:10] # team
rating2=[i.text for i in batsmen_teams.find_all('td',class_='table-body__cell u-text-right rating')][:10] # rating
batting=pd.DataFrame({'Player':player,'Team':team1,'Ratings':rating2})
batting

                Player Team Ratings
0          Beth Mooney  AUS     749
1       Natalie Sciver  ENG     747
2      Laura Wolvaardt   SA     732
3          Meg Lanning  AUS     710
4       Rachael Haynes  AUS     701
5    Amy Satterthwaite   NZ     681
6       Tammy Beaumont  ENG     667
7  Chamari Athapaththu   SL     655
8      Smriti Mandhana  IND     649
9        Jess Jonassen  AUS     725

# c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [75]:
#send get request to the webpage server to get the source code of the page and download the page content
batsmen_teams=BeautifulSoup(requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder').content,'html.parser')
player=[ i.text.strip() for i in batsmen_teams.find_all('td',class_='table-body__cell rankings-table__name name')][:10]  #player

team1=[ i.text for i in batsmen_teams.find_all('span',class_='table-body__logo-text')][:10] # team
rating2=[i.text for i in batsmen_teams.find_all('td',class_='table-body__cell rating')][:10] #rating
all_rounder=pd.DataFrame({'Player':player,'Team':team1,'Ratings':rating2})
all_rounder

             Player Team Ratings
0      Ellyse Perry  AUS     374
1    Marizanne Kapp   SA     349
2   Hayley Matthews   WI     339
3       Amelia Kerr   NZ     336
4  Ashleigh Gardner  AUS     270
5     Deepti Sharma  IND     252
6     Jess Jonassen  AUS     246
7   Katherine Brunt  ENG     220
8   Stafanie Taylor   WI     207
9    Jhulan Goswami  IND     205

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :

i) Headline

ii) Time

iii) News Link

In [2]:
# Send url request and download page source code
News_soup=BeautifulSoup(requests.get("https://www.cnbc.com/world/?region=world").content,"html.parser")
Headline=[i.text for i in News_soup.find_all(class_="LatestNews-headline") ] # Scrap Headlines
Time=[i.text for i in News_soup.find_all("span",class_="LatestNews-wrapper") ] # Scrap Time
# Scrap news Links
news = News_soup.find_all('div', {'class','LatestNews-container'})
lnk = [each.a.get('href') for each in news]
# Create data frame
news1=pd.DataFrame({'Headlines':Headline,'Time':Time,"Link":lnk})
news1

,Headlines,Time,Link
0,European markets set to start September on a n...,17 Min Ago,https://www.cnbc.com/2022/09/01/european-marke...
1,"India’s 5G battle to be a ‘two-horse race,’ sa...",45 Min Ago,https://www.cnbc.com/2022/09/01/india-5g-race-...
2,Goldman says mutual funds have been on a tear....,3 Hours Ago,/pro/
3,Google Flights just busted a popular myth abou...,4 Hours Ago,https://www.cnbc.com/2022/09/01/cheapest-airli...
4,Goldman: Climate bill is a 'game changer' and ...,4 Hours Ago,/pro/
5,Trump lawyers again push for special master to...,5 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyers-...
6,Asia-Pacific markets mostly fall sharply; Chin...,5 Hours Ago,https://www.cnbc.com/2022/09/01/asia-markets-c...
7,Cramer's lightning round: CVS Health is a buy,6 Hours Ago,https://www.cnbc.com/2022/08/31/cramers-lightn...
8,Jim Cramer says he likes these 5 liquified nat...,6 Hours Ago,https://www.cnbc.com/2022/08/31/jim-cramer-say...
9,Cramer: Expect the Fed to keep hiking until th...,7 Hours Ago,https://www.cnbc.com/2022/08/31/cramer-fed-lik...
10,Nvidia stock falls after U.S. government restr...,7 Hours Ago,https://www.cnbc.com/2022/08/31/nvidia-stock-f...
11,Stock futures fall after Wall Street closed ou...,7 Hours Ago,https://www.cnbc.com/2022/08/31/stock-market-f...
12,‘House of the Dragon’ co-showrunner steps down...,7 Hours Ago,https://www.cnbc.com/2022/08/31/house-of-the-d...
13,NASA taps SpaceX for 5 more astronaut missions...,7 Hours Ago,https://www.cnbc.com/2022/08/31/nasa-awards-sp...
14,Pro Picks: Watch all of Wednesday's big stock ...,8 Hours Ago,/pro/
15,Stocks making the biggest moves after hours: O...,8 Hours Ago,https://www.cnbc.com/2022/08/31/stocks-making-...
16,California may get a new salary transparency l...,8 Hours Ago,https://www.cnbc.com/2022/08/31/california-may...
17,Jeremy Grantham says the worst is yet to come ...,8 Hours Ago,/pro/
18,This portrait of Warren Buffett just sold for ...,9 Hours Ago,https://www.cnbc.com/2022/08/31/warren-buffett...
19,MicroStrategy Chair Michael Saylor accused of ...,9 Hours Ago,https://www.cnbc.com/2022/08/31/microstrategy-...
20,We're making a buy in this down market but als...,10 Hours Ago,/investingclub/
21,Bernstein's trading strategy for internet stoc...,10 Hours Ago,/pro/
22,"Despite recession fears, most 401(k) investors...",10 Hours Ago,https://www.cnbc.com/2022/08/31/despite-recess...
23,Trump lawyer Eastman takes Fifth before Georgi...,10 Hours Ago,https://www.cnbc.com/2022/08/31/trump-lawyer-j...
24,These stocks are underappreciated beneficiarie...,10 Hours Ago,/pro/
25,Jeff Bezos reveals warning from his son for Am...,10 Hours Ago,https://www.cnbc.com/2022/08/31/jeff-bezos-son...
26,Identity scams are at an all-time high. Here a...,11 Hours Ago,https://www.cnbc.com/2022/08/31/identity-crime...
27,These bank fees could be taking a bite out of ...,11 Hours Ago,https://www.cnbc.com/2022/08/31/these-bank-fee...
28,The IRS isn't hiring an 'army' of auditors—her...,11 Hours Ago,https://www.cnbc.com/2022/08/31/irs-is-not-hir...
29,Six in 10 adults want to become a billionaire ...,12 Hours Ago,https://www.cnbc.com/2022/08/31/44percent-of-a...

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
    
i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [66]:
#send get request to the webpage server to get the source code of the page and download the page content
AI_soup=BeautifulSoup(requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles").content,"html.parser")
paper_title=[i.text for i in AI_soup.find_all("h2",class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR") ] # scrap title

author=[i.text for i in AI_soup.find_all("span",class_="sc-1w3fpd7-0 pgLAT") ] #scrap author
 
date=[i.text for i in AI_soup.find_all("span",class_="sc-1thf9ly-2 bKddwo") ] # date

news = AI_soup.find_all('li', {'class','sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp'})
lnk = [each.a.get('href') for each in news] # scrap news link

ai_articles=pd.DataFrame({"Paper Title":paper_title,"Authors":author,"Published Date":date,"Paper URL":lnk}) # DataFrame Created
ai_articles

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [2]:
#send get request to the webpage server to get the source code of the page and download the page content
soup=BeautifulSoup(requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special').content,'html.parser')
name=[i.text.split(',')[0] for i in soup.find_all('div',class_='restnt-info cursor')] # Scrap Restaurant name
location=[i.text for i in soup.find_all('div',class_='restnt-loc ellipsis')] # Scrap location 
image=[i['data-src'] for i in soup.find_all("img", class_="no-img")] # scrap url of image
cuisine=[i.text.split('|')[1] for i in soup.find_all('span',class_="double-line-ellipsis")] # scrap cuisine
rating=[i.text for i in soup.find_all('div',class_='restnt-rating rating-4')] # scrap rating
df=pd.DataFrame({'Restaurant Name':name,'Cuisine':cuisine,'Location':location,"Rating":rating,"Image_url": image})
df

,Restaurant Name,Cuisine,Location,Rating,Image_url
0,Castle BarbequeConnaught Place,"Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree3CS Mall,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Cafe KnoshThe Leela Ambience Convention Hotel,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Castle BarbequePacific Mall,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque CompanyGardens Galleria,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India GrillHilton Garden Inn,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi BarbequeTaurus Sarovar Portico,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill RoomSuncity Business Tower,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank

ii) Publication

iii) h5-index

 iv) h5-median

In [3]:
#send get request to the webpage server to get the source code of the page and download the page content
scholar_soup=BeautifulSoup(requests.get("https://scholar.google.com/citations?view_op=top_venues&hl=en").content,"html.parser")
rank=[i.text for i in scholar_soup.find_all("td",class_="gsc_mvt_p") ] # scrap rank
publication=[i.text for i in scholar_soup.find_all("td",class_="gsc_mvt_t") ] # scrap publication
index=[i.text for i in scholar_soup.find_all("td",class_="gsc_mvt_n") ] # scrap index
h5_index=[index[i] for i in range(0,len(index),2)] # split h5 index
h5_median=[index[i] for i in range(1,len(index),2)] # split h5-median
google_scholar=pd.DataFrame({"Rank":rank,"Publication":publication,"h5-index":h5_index,"h5-median":h5_median})
google_scholar

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]